body {
  background-color: black;
}

#container {
  display: grid;
  grid-gap: 0px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
}

#container > div {
  background-color: white;
}

#resetButtonHolder {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}