body {
  background-color: black;
}

#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 0px;
  width: 960px;
  height: 960px;
  margin: 0 auto;
  background-color: darkgoldenrod;
}

#container > div {
  background-color: white;
}