body {
  background-color: skyblue;
}

#container {
  display: grid;
  grid-gap: 0px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  border: 50px solid red;
  border-radius: 30px;
}

#container > div {
  background-color: white;
}

#resetButtonHolder {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#resetButton {
  width: 500px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

#resetButton:hover {
  background-color: pink;
  transform: scale(1.05);
}

